ENVIRONMENT=development | production
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
CORS_ALLOW_CREDENTIALS=true
GOOGLE_API_KEY=
CLERK_JWKS_URL=
CLERK_PEM_PUBLIC_KEY=
CLERK_ISSUER=
CLERK_AUDIENCE=
DATABASE_URL=